html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.clear::after {
    content: "";
    clear: both;
    display: table;
}

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #000;
    background-color: #cecece;
}

nav {
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    margin: 0px 0px 16px 0px;
}

nav>a {
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #206E32;
    color: #fff;
}

nav a:hover {
    background-color: #2f9e49;
}

main {
    padding: 20px;
    background-color: #fff;
    min-width: 1000px;
}

body {
    margin-top: 0;
}

h1 {
    text-align: center;
}

section {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #7b7b7b;
}

/* grid area name associations */
.nav {
    grid-area: nav;
}

.banner {
    grid-area: banner;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(333.33px, 1fr));
    grid-auto-rows: auto;
    grid-template-areas:
        ". nav nav nav ."
        ". banner banner banner ."
        ". main main main sidebar";
}

#bannerAd {
    /* hard coded dimensions to avoid animation scaling issues */
    width: 1000px;
    height: 300px;

    /* reset display mode */
    display: block;

    /* make all child elements absolutely position to this instead of page */
    position: relative;

    /* centre element horizontally */
    margin-left: auto;
    margin-right: auto;

    /* offset bottom edge */
    margin-bottom: 20px;

    /*  */
    overflow: hidden;

    background-color: #51aae6;

}

#sidebarAd {
    /* hard coded dimensions to avoid animation scaling issues */
    width: 300px;
    height: 800px;

    /* reset display mode */
    display: block;

    /* make all child elements absolutely position to this instead of page */
    position: relative;

    /* offset left edge */
    margin-left: 20px;

    /* temporary background colour to identify it on page. Delete this. */
    background-color: #51e6aa;
}

#bannerScene1 {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#banner_scene1_img {
    position: absolute;
    width: 2000px;
    top: -550px;
    left: 0px;

    animation-name: bannerScene1Background;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}

@keyframes bannerScene1Background {
    0% {
        left: 0px;
    }

    100% {
        left: -900px;
    }
}

#bannerScene1Text1 {
    position:absolute;
    left: 20px;
    top: 0px;
    color: black;
    font-size: 30px;
    font-weight: bold;

    animation-name: scene1Text1;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards; 
}

@keyframes scene1Text1 {
    0% {
        font-size: 30px;
        color: black;
    }
    50% {
        font-size: 40px;
        color: yellow
    }
    100% {
        font-size: 30px;
        color: red;
    }
} 

#bannerScene1Text2 {
    position:absolute;
    left: 20px;
    top: 35px;
    color: red;
    font-size: 20px;
    opacity: 0;

    animation-name: scene1Text2;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards; 
}

@keyframes scene1Text2 {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
} 


#bannerScene1Text3 {
    position:absolute;
    left: 20px;
    top: 65px;
    color: rgb(76, 7, 37);
    font-size: 16px;
    opacity: 0;

    animation-name: scene1Text3;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards; 
}

@keyframes scene1Text3 {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.hidden {
  display: none;
}

#banner_scene2_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;

    transform: scale(0);
    transform-origin: center center; /* 指定缩放中心 */

    animation-delay: 1s;
    animation-name: bannerScene2Background;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}

@keyframes bannerScene2Background {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}


#bannerScene2Text1 {
    position:absolute;
    left: 300px;
    top: 60px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;

    animation-name: scene2Text1;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards; 
}

@keyframes scene2Text1 {
    0% {
        font-size: 30px;
        color: black;
        opacity: 1;
    }
    50% {
        font-size: 40px;
        color: red;
        opacity: 1;
    }
    100% {
        font-size: 30px;
        color: yellow;
        opacity: 1;
    }
} 

#bannerScene2Text2 {
    position:absolute;
    left: 120px;
    top: 100px;
    color: yellow;
    font-size: 20px;
    opacity: 0;

    animation-name: scene2Text2;
    animation-duration: 1s;
    animation-delay: 5s;
    animation-fill-mode: forwards; 
}

@keyframes scene2Text2 {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
} 

#bannerScene2Text3 {
    position:absolute;
    left: 200px;
    top: 140px;
    color: white;
    font-size: 16px;
    opacity: 0;

    animation-name: scene2Text3;
    animation-duration: 1s;
    animation-delay: 6s;
    animation-fill-mode: forwards; 
}

@keyframes scene2Text3 {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


#bannerScene2Text4 {
    position:absolute;
    left: 20px;
    top: 100px;
    color: white;
    font-size: 40px;

    transform: scale(0);
    transform-origin: center center; /* 指定缩放中心 */

    animation-name: scene2Text4;
    animation-duration: 1s;
    animation-delay: 8s;
    animation-fill-mode: forwards; 
}

@keyframes scene2Text4 {
 0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}


#bannerScene2Text5 {
    position:absolute;
    left: 300px;
    top: 180px;
    color: white;
    font-size: 20px;

    transform: scale(0);
    transform-origin: center center; /* 指定缩放中心 */

    animation-name: scene2Text5;
    animation-duration: 1s;
    animation-delay: 9s;
    animation-fill-mode: forwards; 
}

@keyframes scene2Text5 {
 0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}