html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 5 px;
}

.row {
    display: flex;
    align-items: stretch;
}

.column {
    background-color: #aaa;
    text-align: center;
    margin: 5px;
    font-size: 30px;
    height: 1000px;
}

.column.middle {
    flex-grow: 3;
    flex-basis: 60%;
}

.colum.outer {
    flex-grow: 1;
    flex-basis: 20%;
}