body {
    margin: 5px;
}

.row {
    display: flex;
    align-items: stretch;
}

.column {
    background-color: #aaa;
    text-align: center;
    margin: 5px;
    font-size: 30px;
    height: 1000px;
}

.colomn.middle {
    flex-grow: 5;
}

.colum.outer {
    flex-grow: 1;
}