#container {
    position: relative;
    overflow: hidden;
    border: 1px solid #000;
    width: 500px;
    height: 1000px;
}

#sceneImg1 {
    position:absolute;
    left: 0px;
    top: 0px;
    background-image: url("./assets/michael-sum-LEpfefQf4rU-unsplash.jpg");
    width: 200%;
    height: 2000px;

    animation-name: pan;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes pan{
    0%{
        left: 0px;
    }

    100%{
        left: -1000px;
    }
}